body {
  background-image: url('./images/Background_image.jpg');
  background-repeat: no-repeat;
  background-size: 200vh 100vw;
  font-family: fantasy;
}

#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 3px #ffffff;
  font-size: 70px;
  font-weight: bolder;
}
#btn,
#btn-start,
#btn-new {
  display: block;
  padding: 0.7em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  background-color: #fcfcfceb;
  text-align: center;
  transition: all 0.2s;
  align-self: center;
  width: 20vh;
}

#btn:hover,
.btn-action:hover,
#btn-start:hover, #btn-new:hover {
  box-shadow: 0 0 20px #ffffff;
  cursor: pointer;
}

#container {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0;
}

.card {
  border-style: groove;
  border-radius: 30px;
  border-color: white !important;
  background-color: rgba(28, 2, 46, 0.205);
  transition: all 0.4s;
  font-weight: bolder;
}

.card:hover {
  box-shadow: 0 0 100px #ffffff;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.card-image {
  display: flex;
  border-style: hidden;
  width: 40vh;
  height: auto;
  justify-content: center;
}
img {
  width: 25%;
  aspect-ratio: 0.7;
  object-fit: contain;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
  margin: 5px;
}

h3,
h4 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 40px;
}

.description span {
  font-weight: bolder;
  font-size: larger;
}

.card-subtitle {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  color: white;
}

.card-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  height: auto;
}
.card-description h4 {
  align-items: flex-start;
}

.abilities {
  display: flex;
  align-items: flex-start;
  font-size: large;
  flex-direction: column;
}

.ability {
  display: flex;
  align-items: center;
  padding: 7px 7px;
}

.ability img {
  width: 40px;
  height: auto;
}

.ability span {
  padding: 10px;
}

.btn-action {
  display: block;
  padding: 0.7em 2.5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #272323;
  background-color: #ffffffde;
  text-align: center;
  transition: all 0.2s;
  align-self: center;
}

#btn-start {
  margin: 50px 50px;
  width: 20vh;
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 10px;
}
#hero1, #hero2 {
  margin-top: 72px;
}

.startGame-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
}
.newGame-btn {
  display: flex;
  justify-content: center;
}

#btn-new {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
}

#winner-span {
  display: none;
  justify-content: space-evenly;
  margin: auto;
  border-style: groove;
  border-radius: 30px;
  border-color: white !important;
  background-color: rgba(28, 2, 46, 0.205);
  transition: all 0.4s;
  font-weight: bolder;
  width: 50%;
  height: 30vh;
  color: white;
  text-align: center;
  align-items: center;
  text-shadow: 0 0 3px #ffffff;
  font-size: 50px;
  font-weight: bolder;
  box-shadow: inset 0 0 20px 10px #ffffff;
}

@media screen and (max-width: 478px) and (min-width: 423px) {
  .card-image {
    display: flex;
    width: auto;
  }
}

@media all and (max-width: 30em) {
  body {
    background-size: 600vh;
  }
  #container {
    margin: 0px 0px 0px 0px;
  }
  #header h1 {
    display: block;
    margin: 0px 0px 0px 0px;
    align-self: center;
    font-size: 30px;
  }
  #btn,
  .btn-action {
    display: inline-block;
    margin: 0.2em auto;
    width: 100%;
  }
  #btn-start {
    display: none;
    margin: 0.2em auto;
    width: 100%;
  }
  .card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  .card:hover {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card-image {
    max-width: 100%;
    width: 80vh;
  }
  .btn-action {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #winner-span {
    display: none;
    width: auto;
    font-size: 30px;
  }
}

@media all and (max-width: 44em) {
  .btn-action {
    display: inline-block;
    margin: 0.2em auto;
    width: 100%;
  }
  #winner-span {
    display: none;
  }
}

@media all and (max-width: 80em) {
  body {
    background-size: 800vh;
  }
  .card {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .card-description {
    margin-bottom: 100px;
  }
  #winner-span {
    display: none;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    width: auto;
    font-size: 30px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-size: 800vh;
  }
  #container {
    margin: 0px 0px 0px 0px;
  }
  .card-title h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .description {
    font-size: 12px;
  }

  #header h1 {
    display: block;
    margin: 0px 0px 0px 0px;
    align-self: center;
    font-size: 25px;
  }
  #btn,
  .btn-action {
    display: inline-block;
    margin: 0.2em auto;
    width: 50%;
    padding: 0px 0px 0px 0px;
    align-content: center;
    padding-top: 5px;
  }

  #btn-start {
    display: none;
    margin: 0.2em auto;
    width: 50%;
    padding: 0px 0px 0px 0px;
    align-content: center;
    padding-top: 5px;
  }
  .button-container {
    margin-top: 0px;
  }

  .card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  .card:hover {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card-image {
    width: 60vh;
  }
  .btn-action {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #winner-span {
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    width: auto;
    font-size: 20px;
  }
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.select-hero {
  box-shadow: 0 0 100px #ffffff;
  box-shadow: inset 0 0 20px #fdfdfd66;
  background-color: rgba(169, 162, 243, 0.795) !important;
  color: white;
}
